<!doctype html>
<!-- This is a Jinja based template. To read more about Jinja, check
 https://jinja.palletsprojects.com/en/3.0.x/  -->
<title>Message board</title>
<body>
    <h4>There are {{ results  |length }} messages on the board.</h4>

    <h4> Here are the list of messages:</h4>
    <ul>
        {% for m in results  %}
            <li>
                "{{m.messages}}" <small>Posted on {{m.timestamp}}</small>
            </li>
        {% endfor %}
    </ul>
    <h4> Enter a new message</h4>
    <form action="/">
        <label >Your message:</label><br>
        <input type="text" name="msg"><br>
        <input type="submit" value="Submit">
    </form>
</body>
